<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="container my-5">

    <h2 class="mb-4">{data.header}</h2>

    <div class="mt-3">
        <p><strong>Phone:</strong> {data.phone}</p>
        <p><strong>Email:</strong> {data.email}</p>
        <p><strong>Address:</strong> {data.address}</p>
    </div>

    <div class="contact-map">
        <f:format.raw>{data.map}</f:format.raw>
    </div>

</div>

</html>