{namespace n=GeorgRinger\News\ViewHelpers}

<f:for each="{news}" as="newsItem">
<f:debug>{news}</f:debug>
    <h2>
        <n:link newsItem="{newsItem}">
            {newsItem.title}
        </n:link>
    </h2>

    <f:format.date format="d-m-Y">{newsItem.datetime}</f:format.date>

    <!-- Subtitle -->
    <f:if condition="{newsItem.subtitle}">
        <p>{newsItem.subtitle}</p>
    </f:if>

    <!-- Feature Image -->
    <f:if condition="{newsItem.data.feature_image}">
        <f:media file="{newsItem.data.feature_image}" width="300" />
    </f:if>

    <!-- Description -->
    <f:if condition="{newsItem.data.description_news}">
        <div class="description-news">
            <f:format.html>{newsItem.data.description_news}</f:format.html>
        </div>
    </f:if>

</f:for>

